<div class="row">
  <div class="text-center">
    <h1><%= @cocktail.name %></h1>
    <% if @cocktail.photo? %>
      <%= cl_image_tag @cocktail.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    <p>Secret Recipe:</p>
    <% @cocktail.doses.each do |d| %>
    <li>
      <%=  d.description %> of <%=  d.ingredient.name%>
      <%= link_to "Delete", doses_path(d), method: :delete %>
    </li>
    <% end %>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
    <hr>
    <%= link_to "List of Cocktails", cocktails_path %>
  </div>
</div>
