<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>

<%= f.error_notification %>
<%= f.input :description %>
<%= f.input :ingredient_id, collection: [1,2,3], prompt: "Ingredient"  %>
<%= f.button :submit %>
<% end %>
