<h1>Add a new dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.error_notification %>
<%= f.input :description %>
<%= f.collection_select(:ingredient_id, @ingredients, :id, :name) %>
<hr>
<%= f.button :submit %>
<% end %>
